<!DOCTYPE HTML>
<meta charset='utf-8'>

<html>
	<head>
		<title>Voting Web</title>
		<link href="../css/ended_vote.css" rel="stylesheet" type="text/css" />
		<script language="javascript">
			function confirmClose(){
			if(confirm("정말 투표를 종료시키겠습니까?")){
				alert("성공적으로 종료되었습니다.");
				location.href="/vote-manage";
			}
			else{
				alert("취소되었습니다.");
				}
			}
		</script>
	</head>
	<body>
		<div class="bar_box">
			<p><a href="/admin-main" ><img src="../img/vote.png" alt="투표 이미지" id="logo_img"></a></p>
			<ul id="main_menu">
				<li><a href="/admin-mypage" id="mypage"> 내 정보 수정</a></li>
				<li><a href="/admin-login" id="logout"> 로그아웃</a></li>
			</ul>
		</div>
	<div class="region_main">
			<div class="find-wrap">
			</div>
			<center>
				<h2 id="table_name">투표 관리</h2>
				<div class="content-wrap">
					<form action = "/vote-manage" method = "post">
					<table border="2">
						<thead>
							<tr>
								<th>번호</th>
								<th>투표 이름</th>
								<th>시작 시간</th>
								<th>종료 시간</th>
								<th>투표 상태</th>
								<th><p id="ending-title">강제 종료</p></th>
							</tr>
						</thead>
						<tbody>
						<!-- DB연동 -->
						<%= idxx = 1%>
							<% for (var i = 0, j = 1; i < ans.length; i = i + 3, j = j + 1) { %>
								<tr>
								<td><%= idxx++ %></td>
								<td>
								<a class="vote_name" href="/candidate"><%=ans[i]%></a>
								</td>
								  <td><%=ans[i + 1] %></td>
								  <td><%=ans[i + 2] %></td>
								  <td><%=st[j - 1] %></td> 
								<td><a href=""><button type="submit"name = "idx" value = <%= j%> class="closing-button" onclick='confirmClose()'>투표 종료</button></a></td>
								</tr>							
							<% } %>	
					<!-- DB연동 -->
					<% for (var i = 0, j = 1; i < ans2.length; i = i + 3, j = j + 1) { %>
						<tr>
						<td><%= idxx++%></td>
						<td>
						<a class="vote_name" href="/candidate"><%=ans[i]%></a>
						</td>
						  <td><%=ans2[i + 1] %></td>
						  <td><%=ans2[i + 2] %></td>
						  <td><%=st2[j - 1] %></td> 
						<td><a href=""><button type="submit"name = "idx" value = <%= j%> class="closing-button" onclick='confirmClose()'>투표 종료</button></a></td>
						</tr>							
					<% } %>	
						</tbody>
					</table>
					</form>
				</div>
			</center>
		</div>
	</body>
</html>
