<!DOCTYPE HTML>
<meta charset="utf-8">

<html>
	<head>
		<title>Voting Web</title>
		<link href="../css/main.css" rel="stylesheet" type="text/css">
		<script>
		function putIdx(index){
			document.getElementById("vote_idx").value = index;
		}
		</script>
	</head>
	
	<body>
		<div class="bar_box">
			<p><a href="/home" ><img src="../img/vote.png" alt="투표 이미지" id="logo_img"></a></p>
			<ul id="main_menu">
				<li><a href="/mypage" id="mypage"> 내 정보 수정</a></li>
				<li><a href="/ended_vote" id="voted_list"> 완료된 투표 목록 </a>
				<li><a href="/" id="logout"> 로그아웃</a></li>
			</ul>
		</div>
		
		<div class="region_main">
			<div class="find-wrap">
			</div>
			<center>
				<h2 id="table_name">투표 목록</h2>
				<div class="content-wrap">
					<form action = "/home" method = "post" name = "myForm">
					<table border="2">
						<thead>
							<tr>
								<th>번호</th>
								<th>투표 이름</th>
								<th>시작 시간</th>
								<th>종료 시간</th>
								<th>투표 상태</th>
							</tr>
						</thead>
						<tbody>
							<!-- DB연동 -->
							<% for (var i = 0, j = 1; i < vote.length; i = i + 3, j = j + 1) { %>
							<tr>
								<td><%= j%></td>
								<td>
								<a id = "linkN" type = "button"class="vote_name" href="javascript:document.forms['myForm'].submit()" onClick = "putIdx(<%=j%>)" ><%=vote[i]%></a>
								</td>
								  <td><%=vote[i + 1] %></td>
								  <td><%=vote[i + 2] %></td>
								  <td><%=st[j - 1] %></td>
							</tr>

							<% } %>
							<input type = "hidden" id = "vote_idx" name = "vote_idx" value = "">
						</tbody>
						</form>
					</div>
				</table>
			</center>
		</div>
	</body>
</html>
